@model Message

<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PeopleForPeople.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>
<header class="HEADER">
        <nav class="nav-head">
            <div class="container-fluid HEADER display-flex ">
                <a class="navbar-brand pfp vertical-align-bottom" asp-area="" asp-controller="Home" asp-action="HomePage">PFP</a>
                <div class="display-flex vertical-align-middle">
                    <a href="/Case/Add" class="navbar-brand pfp vertical-align-middle" id="createcase">Report a Case</a>
                    <a href="/Chats" class="navbar-brand pfp "  id="inbox">
                        <i class="fa fa-inbox" ></i>
                    </a>
                    <a href="/Logout" class="navbar-brand pfp "  id="logout">
                        <span class="glyphicon glyphicon-log-out" id="logout" ></span>
                    </a>
                </div>                
            </div>
        </nav>
</header>
<div id="messagesdiv">
    <form asp-action="addMessage" asp-route-id="@ViewBag.caseIdToView" method="post">
        <div class="display-flex sendmessage">
            <textarea class="form-label" asp-for="MessageContent" name="MessageContent" cols="50" rows="1" placeholder="Type here..."></textarea>
            <button type="submit" >
                <i class="fa fa-send" ></i>
            </button>
        </div>
    </form>
    @if (ViewBag.Messages.Count == 0)
    {
        <h3 id="empty-messages" class="">- No Messages Yet -</h3>
        
    }
    @foreach(var message in ViewBag.Messages)
    {
        @if (message.UserId == ViewBag.iLoguari.UserId)
        {
            <div id="MessageFromMe">
                <h5>Me </h5>
                <p class="time">@message.CreatedAt.ToShortTimeString()</p>
                <p>@message.MessageContent</p>
            </div>
        }
        else
        {
            <div id="MessageFromOthers">
                <h5>@message.Creator.FirstName @message.Creator.LastName </h5>
                <p class="time">@message.CreatedAt.ToShortTimeString()</p>
                <p>@message.MessageContent</p>
            </div>
        }
    }
</div>